# @package _global_

# Experiment
seed: 42

# Data
data:
  data_dir: ./data
  batch_size: 32 # 32/128 fed/base
  num_workers: 0
  val_split: 0.1

# Model
model:
  num_classes: 100
  freeze_backbone: true
  image_size: 224

# Optimizer
optimizer:
  lr: 0.01
  momentum: 0.9
  weight_decay: 0

# Logging
logging:
  log_dir: ./results/logs